.partner-section {
  padding: 20px;
}

.partner-title {
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 15px;
}

.partner-nav {
  margin: 0 10px;
}

.partner-top-nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-top-nav li {
  margin: 15px 5px;
  text-align: center;
  flex: 1;
  min-width: 110px;
}

.partner-top-nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  background: #201F22;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.2px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.partner-top-nav i.bi {
  font-size: 2.2em;
  display: block;
  color: #fff;
  margin-bottom: 2px;
}

.balance-content,
.referrals-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.partner-balance {
  background-color: #393939;
  font-size: 11px;
  border-radius: 20px;
  padding: 20px;
}

.stat-item div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  color: #fff;
}

.stat-item p {
  display: flex;
  align-items: center;
}

.stat-icon {
  font-size: 17px;
  min-width: 22px;
  text-align: center;
  padding: 10px 0;
  margin-right: 10px;
}

.stat-text {
  text-align: left;
  padding: 10px 0;
}

.stat-number {
  text-align: right;
  padding: 10px 0;
}

.cardButton {
  border: 0;
  color: #1c1c1c;
  background: #66EBE3;
  text-align: center;
  border-radius: 20px;
  padding: 15px 0;
  font-weight: 400;
  font-size: 18px;
  font-family: "Unbounded", sans-serif;
  letter-spacing: 0.5px;
  width: 100%;
}

.partner-copy-link {
  text-align: left;
  margin: 20px 0;
  color: white;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.partner-copy-link i {
  margin-right: 8px;
}

.link-text {
  color: teal;
  cursor: pointer;
  text-decoration: underline;
}

.link-text:hover {
  color: #0056b3;
}
