.tabs-component {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.time-filters {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0.2px 0 0 white;
    position: relative;
    font-size: 11px;
}

.time-filters a.active {
    color: var(--tg-theme-link-color, #0170c9);
}

.time-filters a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 75%;
    height: 3px;
    background-color: var(--tg-theme-link-color, #0170c9);
    transform: translateX(-50%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.time-filters a {
    padding: 12px 2px;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.statistics {
    width: 100%;
    margin: 0 auto;
    color: white;
    display: block;
    padding: 35px;
    text-align: center;
}
