/* Общий контейнер */
.mainBlock {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  height: 100%;
}

/* Левая часть с изображением */
.leftSide {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Правая часть с текстом */
.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.titleButton {
  background: #fff;
  border-radius: 20px;
  padding: 13px;
  font-size: 9px;
  color: #000;
  font-weight: 300;
  position: relative;
  text-align: left;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

.arrowButton {
  position: absolute;
  right: 15px;
  top: 20px;
  transform: translateY(-50%);
  background-image: url(../../assets/images/arrow_down.png);
  width: 35px;
  height: 15px;
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: unset;
}

/* Секция кнопок */
.buttonSection {
  background: #1c1c1c;
  margin-top: -25px;
  padding-top: 40px;
  padding-bottom: 35px;
}

.buttonSection .button {
  font-size: 13px;
  margin: 20px 0;
  text-align: left;
  font-weight: 200;
  position: relative;
  color: white;
  line-height: 21px;
  padding-left: 15px;
}

.buttonSection .button a {
  text-decoration: none;
  color: #fff;
}

.button-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Нижняя часть */
.bottomButton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 60px;
  margin-top: -20px;
  border-radius: 20px;
  background: #0b0b0e;
  color: #fff;
  padding: 0px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px -13px 20px -5px rgba(0, 0, 0, 0.4);
  text-align: left;
  font-size: 10px;
  font-weight: 300;
}

.videoBtnText {
  height: 60px;
  border-radius: 20px;
  background: #0b0b0e;
  color: #fff;
  padding-left: 15px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px -13px 20px -5px rgba(0, 0, 0, 0.4);
  text-align: left;
  font-size: 10px;
  font-weight: 300;
}

.videoBtnText a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}

.videoBtnText p {
  font-size: 10px;
  font-weight: bold;
}

.flip-container {
  position: relative;
  width: 100%;
  height: 60px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 60px;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 15px;
  transition: opacity 0.5s, transform 0.5s;
}

.front {
  background: #0b0b0e;
  opacity: 1;
  transform: translateY(0);
}

.back {
  background: #1c1c1c;
  opacity: 0;
  transform: translateY(10px);
}

/* При переключении */
.flipped .front {
  opacity: 0;
  transform: translateY(-10px);
}

.flipped .back {
  opacity: 1;
  transform: translateY(0);
}
