.features-section {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.features-section-title {
  text-transform: uppercase;
  text-align: center;
}

.token-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.selected-tokens {
  color: #C345FF;
}

.info-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.price-info p{
  font-weight: 200;
  margin-top: 0;
  font-size: 11px;
  text-align: center;
  color: #E2E2E2;
}

.notice {
  border: 1px dashed #66EBE3;
  padding: 10px 15px;
  border-radius: 15px;
  padding: 15px;
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.notice i {
  color: #66EBE3;
}

.subscribe-button {
  border: 0;
  color: #1c1c1c;
  background: #66EBE3;
  text-align: center;
  border-radius: 20px;
  padding: 15px 0;
  font-weight: 400;
  font-size: 18px;
  font-family: "Unbounded", sans-serif;
  letter-spacing: 0.5px;
  width: 100%;
}

.subscribe-button:hover {
  background-color: #fff;
}

input[type="range"] {
  background-color: transparent;
  width: 100%;
  margin: 20px 0;
}

input.token-range[type="range"]::-webkit-slider-runnable-track {
  background: #D57CFF;
  border-radius: 4px;
  color: rgb(157, 150, 142);
}

input.token-range[type="range"]::-webkit-slider-thumb {
  background: #ffffff;
  border: 2px solid #D57CFF;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
