.faq-content {
    flex-direction: column;
    gap: 8px;
    display: flex;
}

.faq-item {
    background: #fff;
    color: #201F22;
    border-radius: 20px;
    padding: 20px;
}

.question {
    margin-bottom: 5px;
    font-weight: 400;
    color: #C345FF;
}

.question i {
    color: #66EBE3;
}

.answer {
    font-size: 14px;
    color: #201F22;
}
