.faq-content {
    flex-direction: column;
    gap: 8px;
    display: flex;
}

.faq-item {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.question {
    margin-bottom: 5px;
    font-weight: 400;
    color: #0170c9;
}

.question i {
    color: #0170c9;
}

.answer {
    font-size: 14px;
    color: white;
}
