.info-block-dialogs {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}

.info-block-dialogs i {
    color: var(--tg-theme-link-color, #0170c9);
    margin-right: 5px;
}
