
.flux-train-nav {
  margin: 0 10px;
}

.flux-train-top-nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flux-train-top-nav li {
  margin: 15px 5px;
  text-align: center;
  flex: 1;
  min-width: 85px;
}

.flux-train-top-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #1c1c1c;
  border-radius: 12px;
  width: 100%;
  padding: 10px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.flux-train-top-nav i.bi {
  font-size: 2.2em;
  display: block;
  color: #a855f7;
  margin-bottom: 2px;
}
