.all-models-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.all-models-container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.all-models-statistics-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ok i, .all-models-stat-item i {
    margin-right: 5px;
    color: #0170c9;
    margin-bottom: 2px;
}

.err i {
    margin-right: 5px;
    color: white;
}

.all-models-statistics {
    border-radius: 10px;
    color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgba(0, 0, 0, 0.8);
}

.all-models-stat-item {
    display: flex;
    justify-content: space-between;
}

.all-models-stat-item div {
    display: flex;
    align-items: center;
}

.all-models-stat-text {
    text-align: left;
    margin-left: 5px;
}

.all-models-stat-number {
    text-align: right;
    white-space: nowrap;
}

.all-models-stat-text, .all-models-stat-number {
    flex-grow: 1;
    line-height: 22px;
}
