.language-switcher {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.language-select {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 12px;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    user-select: none;
    position: relative;
}

.arrow {
    margin-left: 10px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: cover;
}

.language-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 12px;
    margin-top: 5px;
    padding: 5px 0;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.language-option {
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    text-align: left;
}

.language-option:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.language-option.active {
    font-weight: bold;
}
