.navbar {
    display: flex;
    flex-direction: column;
}
  
.navbar-left {
    margin: 15px;
    text-align: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-info {
    width: 50%;
}
  
.tokens-info {
    font-size: 20px;
    font-weight: 500;
}

.lightning {
    font-size: 15px;
    color: #0170c9;
}

.bi-lightning-charge-fill::before {
    content: "\f46c";
}
