  .navbar-right {
    margin: 10px 7px 10px 15px;
    text-align: center;
    flex: 1;
    height: auto;
  }

  .navbar-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    height: 100%;
  }

  .navbar-right li,
  .navbar-right nav {
    height: 100%;
  }

  .navbar-right nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #1c1c1c;
    border-radius: 12px;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    height: 100%;
}

.navbar-right i {
  font-size: 24px;
  color: #a855f7;
}

#more-menu {
  position: relative;
}

#dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 8px;
  position: absolute;
}

#dropdown-menu-item {
  border-radius: 0;
  height: auto;
}

#settings{
  border-radius: 12px 12px 0 0;
  flex-direction: row;
  gap: 8px;
}

#funds{
  border-radius: 0 0 12px 12px;
  flex-direction: row;
  gap: 8px;
}
