.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    gap: 20px;
  }
  
  .navbar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .navbar-logo {
    height: 50px;
    width: auto;
  }
  
  .user-info {
    text-align: left;
  }
  
  .user-tokens,
  .user-tariff {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .navbar-right {
    display: flex;
  }
  
  .navbar-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menu-item:hover {
    background-color: #555;
  }
  
  .menu-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 0.5rem;
  }
  
  .menu-text {
    font-size: 0.9rem;
  }
  
.submenu {
    list-style: none;
    margin: 150px 20px 0 50px;
    padding: 0;
    position: absolute;
    background-color: white;
    border-radius: 8px;
  }
  
  .submenu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submenu-item:hover {
    background-color: #555;
  }
  
  .submenu-icon {
    width: 20px;
    height: 20px;
  }

  .submenu-item.active {
    background-color: teal; /* Синий фон для активного элемента */
    color: white;
    border-radius: 4px;
  }
  
  