.footer {
  padding: 5px 0;
  z-index: 9001;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1c1c1c;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-menu li {
  text-align: center;
}

.footer-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 11px;
  color: #fff;
}

.footer-menu i {
  font-size: 1.7em;
  display: block;
  line-height: 20px;
  margin-bottom: 8px;
}
