.gpt-dialogs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #ffffff;
}

.chat-header {
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.chat-header a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 5px;
  opacity: 0.8;
  font-size: 12px;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  margin: 50px 15px 15px 15px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  word-break: break-word;
}

.message.user {
  justify-content: flex-end;
}

.message.user .message-content {
  background-color: rgba(0, 0, 0, 0.8);
}

.message.bot {
  justify-content: flex-start;
}

.message-content {
  max-width: 75%;
  border-radius: 8px;
  background-color: #0170c9;
  color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.bot-icon {
  font-size: 20px;
  margin-right: 8px;
}

.message-meta {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;
  gap: 5px;
}

.message-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.timestamp, .model {
  color: #ffffff;
  font-size: 9px;
  margin-right: 8px;
  white-space: nowrap;
}

.timestamp i, .model i, .copy-message-btn i {
  margin-right: 4px;
}

.copy-message-btn {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.copy-message-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.gpt-dialogs-container pre {
  background: #0170c9;
  color: #ffffff;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

.gpt-dialogs-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  background: #0170c9;
  color: #ffffff;
}

.gpt-dialogs-container th, 
.gpt-dialogs-container td {
  padding: 8px;
  text-align: left;
  font-size: 12px;
  border: 1px solid #ffffff;
}

.gpt-dialogs-container ul, 
.gpt-dialogs-container ol {
  padding-left: 20px;
}

.gpt-dialogs-container li {
  margin-bottom: 5px;
}

.code-block {
  position: relative;
  background: #0170c9;
  border-radius: 5px;
  margin-top: 5px;
  overflow: auto;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.code-language {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.copy-btn {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.copy-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
