
.notice {
    border: 1px dashed #0170c9;
    border-radius: 15px;
    padding: 15px;
    font-size: 12px;
    color: #fff;
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  
  .notice i {
    color: #0170c9;
  }
  