* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #0b0b0e;
  color: #E2E2E2;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0.5px;
  min-height: 80vh;
  font-size: 12px;
  margin: 0;
  padding-bottom: 100px;
  overflow-x: hidden;
}

select,
.input-number,
.styled-input {
  appearance: none;
  background: #F3E5FF;
  border-radius: 45px;
  color: #727272;
  border: 0;
  outline: none;
  padding: 10px 20px;
  line-height: 20px;
  font-family: "Unbounded", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
  padding-right: 40px;
  max-width: 200px;
}
