* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button, a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  background: url("./assets/images/ai.jpg") center/cover no-repeat;
  background-attachment: fixed;
  color: #E2E2E2;
  font-family: "Unbounded", sans-serif;
  min-height: 100vh;
  font-size: 12px;
  margin: 0;
  padding-bottom: 100px;
  overflow-x: hidden;
}

/* Затемняющий слой */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Черный полупрозрачный слой */
  z-index: -1; /* Оставляем фон позади всех элементов */
}

select,
.input-number,
.styled-input {
  appearance: none;
  background: #0170c9;
  border-radius: 45px;
  color: white;
  border: 0;
  outline: none;
  padding: 10px 20px;
  line-height: 20px;
  font-family: "Unbounded", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
  padding-right: 40px;
  max-width: 100%;
  width: 100%;
}
